USE [master]
GO
/****** Object:  Database [DoctorWho]    Script Date: 14.10.2025 08:13:30 ******/
CREATE DATABASE [DoctorWho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoctorWho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DoctorWho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoctorWho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DoctorWho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoctorWho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoctorWho]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCompanions]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- create a couple of useful functions to list companions and enemies
CREATE FUNCTION [dbo].[fnCompanions](
	@EpisodeId int
)
RETURNS varchar(100)
AS
begin
	declare @c varchar(100) = ''

	SELECT
		@c = @c + 
			CASE WHEN len(@c) > 0 THEN ', ' ELSE '' END + 
			c.CompanionName
			
	FROM
		tblEpisodeCompanion AS ec
		INNER JOIN tblCompanion AS c ON ec.CompanionId = c.CompanionId
	WHERE
		ec.EpisodeId = @EpisodeId

	return @c
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnEnemies]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnEnemies](
	@EpisodeId int
)
RETURNS varchar(100)
AS
begin
	declare @c varchar(100) = ''

	SELECT
		@c = @c + 
			CASE WHEN len(@c) > 0 THEN ', ' ELSE '' END + 
			c.EnemyName
			
	FROM
		tblEpisodeEnemy AS ec
		INNER JOIN tblEnemy AS c ON ec.EnemyId = c.EnemyId
	WHERE
		ec.EpisodeId = @EpisodeId

	return @c
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnReign]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnReign](@StartDate date, @EndDate date)
RETURNS int
AS
BEGIN 
	RETURN DateDiff(day, @StartDate,ISNULL(@EndDate, GetDate()))
END;
GO
/****** Object:  Table [dbo].[tblAuthor]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuthor](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAuthor] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompanion]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompanion](
	[CompanionId] [int] IDENTITY(1,1) NOT NULL,
	[CompanionName] [nvarchar](50) NOT NULL,
	[WhoPlayed] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCompanion] PRIMARY KEY CLUSTERED 
(
	[CompanionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDoctor]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoctor](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorNumber] [int] NULL,
	[DoctorName] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[FirstEpisodeDate] [date] NULL,
	[LastEpisodeDate] [date] NULL,
 CONSTRAINT [PK_tblDoctor] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEnemy]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEnemy](
	[EnemyId] [int] IDENTITY(1,1) NOT NULL,
	[EnemyName] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblEnemy] PRIMARY KEY CLUSTERED 
(
	[EnemyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEpisode]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpisode](
	[EpisodeId] [int] IDENTITY(1,1) NOT NULL,
	[SeriesNumber] [int] NULL,
	[EpisodeNumber] [int] NULL,
	[EpisodeType] [nvarchar](50) NULL,
	[Title] [nvarchar](255) NULL,
	[EpisodeDate] [date] NULL,
	[AuthorId] [int] NULL,
	[DoctorId] [int] NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblEpisode] PRIMARY KEY CLUSTERED 
(
	[EpisodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEpisodeCompanion]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpisodeCompanion](
	[EpisodeCompanionId] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeId] [int] NULL,
	[CompanionId] [int] NULL,
 CONSTRAINT [PK_tblEpisodeCompanion] PRIMARY KEY CLUSTERED 
(
	[EpisodeCompanionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEpisodeEnemy]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpisodeEnemy](
	[EpisodeEnemyId] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeId] [int] NULL,
	[EnemyId] [int] NULL,
 CONSTRAINT [PK_tbEpisodeEnemy] PRIMARY KEY CLUSTERED 
(
	[EpisodeEnemyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEpisode]  WITH CHECK ADD  CONSTRAINT [FK_tblEpisode_tblAuthor] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[tblAuthor] ([AuthorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisode] CHECK CONSTRAINT [FK_tblEpisode_tblAuthor]
GO
ALTER TABLE [dbo].[tblEpisode]  WITH CHECK ADD  CONSTRAINT [FK_tblEpisode_tblDoctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[tblDoctor] ([DoctorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisode] CHECK CONSTRAINT [FK_tblEpisode_tblDoctor]
GO
ALTER TABLE [dbo].[tblEpisodeCompanion]  WITH CHECK ADD  CONSTRAINT [FK_tblEpisodeCompanion_tblCompanion] FOREIGN KEY([CompanionId])
REFERENCES [dbo].[tblCompanion] ([CompanionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisodeCompanion] CHECK CONSTRAINT [FK_tblEpisodeCompanion_tblCompanion]
GO
ALTER TABLE [dbo].[tblEpisodeEnemy]  WITH CHECK ADD  CONSTRAINT [FK_tbEpisodeEnemy_tblEnemy] FOREIGN KEY([EnemyId])
REFERENCES [dbo].[tblEnemy] ([EnemyId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisodeEnemy] CHECK CONSTRAINT [FK_tbEpisodeEnemy_tblEnemy]
GO
/****** Object:  StoredProcedure [dbo].[spEpisodes]    Script Date: 14.10.2025 08:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- create procedure to list out all episodes
CREATE PROC [dbo].[spEpisodes]
AS

SELECT 
	SeriesNumber,
	EpisodeNumber,
	Title,
	a.AuthorName,
	d.DoctorName,
	dbo.fnCompanions(e.EpisodeId) AS Companions,
	dbo.fnEnemies(e.EpisodeId) AS Enemies
FROM
	tblEpisode AS e
	INNER JOIN tblAuthor AS a ON a.AuthorId = e.AuthorId
	INNER JOIN tblDoctor AS d on e.DoctorId = d.DoctorId
ORDER BY
	EpisodeDate
GO
USE [master]
GO
