USE [master]
GO
/****** Object:  Database [Industrial_db]    Script Date: 14.10.2025 08:13:59 ******/
CREATE DATABASE [Industrial_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Industrial_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Industrial_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Industrial_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Industrial_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Industrial_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Industrial_db]
GO
/****** Object:  Table [dbo].[equipment_anomaly_data]    Script Date: 14.10.2025 08:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment_anomaly_data](
	[temperature] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL,
	[humidity] [float] NULL,
	[equipment] [nvarchar](50) NULL,
	[location] [nvarchar](50) NULL,
	[faulty] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
