USE [master]
GO
/****** Object:  Database [Music_01]    Script Date: 14.10.2025 08:14:31 ******/
CREATE DATABASE [Music_01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Music_01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Music_01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Music_01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Music_01_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Music_01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Music_01]
GO
/****** Object:  UserDefinedFunction [dbo].[fnClean_Strings]    Script Date: 14.10.2025 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnClean_Strings](@String varchar(100))
RETURNS varchar(100) 
AS
BEGIN 
	Return TRIM(REPLACE(@String, '"', '')) -- Remove any quotationmarks that are part of the string
	--- Then remove all leading and trailing spacebars
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fnTrackLength]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnTrackLength](@Minutes int, @Seconds int)
Returns varchar(5)
AS
BEGIN
	RETURN CONVERT(varchar(2), FORMAT(@Minutes, '00')) + ':' + CONVERT(varchar(2), FORMAT(@Seconds, '00'))
END;
GO
/****** Object:  Table [dbo].[Album]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[Album_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Artist_ID] [int] NULL,
	[Release_date] [date] NULL,
	[Album_mins] [smallint] NULL,
	[Album_secs] [smallint] NULL,
	[Tracks] [smallint] NULL,
	[Subgenre_ID] [int] NULL,
	[Record_label_ID] [int] NULL,
	[Album_type_ID] [int] NULL,
	[US_Billboard_200_peak] [tinyint] NULL,
	[US_Billboard_200_year_end] [tinyint] NULL,
	[US_sales_(m)] [float] NULL,
	[Wiki_URL] [nvarchar](500) NULL,
	[Cover_art] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Album_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Album_Type]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album_Type](
	[Album_type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Album_type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Album_type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[Artist_ID] [int] IDENTITY(1,1) NOT NULL,
	[Artist] [nvarchar](255) NULL,
	[Artist_type] [nvarchar](255) NULL,
	[Year_formed] [smallint] NULL,
	[Year_disbanded] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Artist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](255) NULL,
	[Country_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continent]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continent](
	[Continent_ID] [int] IDENTITY(1,1) NOT NULL,
	[Continent] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Continent_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Country_ID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](255) NULL,
	[Continent_ID] [int] NULL,
	[Flag_URL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Genre_ID] [int] IDENTITY(1,1) NOT NULL,
	[Genre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Genre_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent_Company]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent_Company](
	[Parent_company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_company] [nvarchar](255) NULL,
	[Logo_URL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Parent_company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record_Label]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record_Label](
	[Record_label_ID] [int] IDENTITY(1,1) NOT NULL,
	[Record_label] [nvarchar](255) NULL,
	[Parent_company_ID] [int] NULL,
	[Logo_URL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Record_label_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[Show_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tour_ID] [int] NULL,
	[Leg] [nvarchar](255) NULL,
	[Show_date] [date] NULL,
	[Venue_ID] [int] NULL,
	[Tickets_sold] [int] NULL,
	[Tickets_available] [int] NULL,
	[Revenue_$] [bigint] NULL,
	[Cancelled] [bit] NULL,
	[Cancellation_reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Show_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subgenre]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subgenre](
	[Subgenre_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subgenre] [nvarchar](255) NULL,
	[Genre_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Subgenre_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[Tour_ID] [int] IDENTITY(1,1) NOT NULL,
	[Artist_ID] [int] NULL,
	[Tour_name] [nvarchar](500) NULL,
	[Start_date] [date] NULL,
	[End_date] [date] NULL,
	[Legs] [tinyint] NULL,
	[Shows] [smallint] NULL,
	[Attendance] [bigint] NULL,
	[Tour_gross_$] [bigint] NULL,
	[Album_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tour_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Track_ID] [int] IDENTITY(1,1) NOT NULL,
	[Album_ID] [int] NULL,
	[Track_order] [smallint] NULL,
	[Track_name] [nvarchar](1000) NULL,
	[Track_mins] [smallint] NULL,
	[Track_secs] [smallint] NULL,
	[Single_release_date] [date] NULL,
	[US_Billboard_Hot_100_peak] [tinyint] NULL,
	[US_Billboard_Hot_100_year_end] [tinyint] NULL,
	[US_sales_(m)] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Track_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue](
	[Venue_ID] [int] IDENTITY(1,1) NOT NULL,
	[Venue] [nvarchar](500) NULL,
	[Venue_type_ID] [int] NULL,
	[Capacity] [int] NULL,
	[Construction_start_date] [date] NULL,
	[Opening_date] [date] NULL,
	[Closing_date] [date] NULL,
	[Demolition_date] [date] NULL,
	[Construction_cost_$m] [float] NULL,
	[Address] [nvarchar](1000) NULL,
	[City_ID] [int] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Other_names] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Venue_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue_Category]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue_Category](
	[Venue_category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Venue_category] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Venue_category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue_Type]    Script Date: 14.10.2025 08:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue_Type](
	[Venue_type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Venue_type] [nvarchar](255) NULL,
	[Venue_category_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Venue_type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Album_Type] FOREIGN KEY([Album_type_ID])
REFERENCES [dbo].[Album_Type] ([Album_type_ID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Album_Type]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Artist] FOREIGN KEY([Artist_ID])
REFERENCES [dbo].[Artist] ([Artist_ID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Artist]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Record Label] FOREIGN KEY([Record_label_ID])
REFERENCES [dbo].[Record_Label] ([Record_label_ID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Record Label]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Subgenre] FOREIGN KEY([Subgenre_ID])
REFERENCES [dbo].[Subgenre] ([Subgenre_ID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Subgenre]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([Country_ID])
REFERENCES [dbo].[Country] ([Country_ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_Continent] FOREIGN KEY([Continent_ID])
REFERENCES [dbo].[Continent] ([Continent_ID])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_Continent]
GO
ALTER TABLE [dbo].[Record_Label]  WITH CHECK ADD  CONSTRAINT [FK_Record Label_Parent Company] FOREIGN KEY([Parent_company_ID])
REFERENCES [dbo].[Parent_Company] ([Parent_company_ID])
GO
ALTER TABLE [dbo].[Record_Label] CHECK CONSTRAINT [FK_Record Label_Parent Company]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Tour] FOREIGN KEY([Tour_ID])
REFERENCES [dbo].[Tour] ([Tour_ID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Tour]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Venue] FOREIGN KEY([Venue_ID])
REFERENCES [dbo].[Venue] ([Venue_ID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Venue]
GO
ALTER TABLE [dbo].[Subgenre]  WITH CHECK ADD  CONSTRAINT [FK_Subgenre_Genre] FOREIGN KEY([Genre_ID])
REFERENCES [dbo].[Genre] ([Genre_ID])
GO
ALTER TABLE [dbo].[Subgenre] CHECK CONSTRAINT [FK_Subgenre_Genre]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Artist] FOREIGN KEY([Artist_ID])
REFERENCES [dbo].[Artist] ([Artist_ID])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_Artist]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Album] FOREIGN KEY([Album_ID])
REFERENCES [dbo].[Album] ([Album_ID])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_Album]
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD  CONSTRAINT [FK_Venue_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [dbo].[Venue] CHECK CONSTRAINT [FK_Venue_City]
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD  CONSTRAINT [FK_Venue_Venue Type] FOREIGN KEY([Venue_type_ID])
REFERENCES [dbo].[Venue_Type] ([Venue_type_ID])
GO
ALTER TABLE [dbo].[Venue] CHECK CONSTRAINT [FK_Venue_Venue Type]
GO
ALTER TABLE [dbo].[Venue_Type]  WITH CHECK ADD  CONSTRAINT [FK_Venue Type_Venue Category] FOREIGN KEY([Venue_category_ID])
REFERENCES [dbo].[Venue_Category] ([Venue_category_ID])
GO
ALTER TABLE [dbo].[Venue_Type] CHECK CONSTRAINT [FK_Venue Type_Venue Category]
GO
USE [master]
GO
